/* ---------------------------------------------------------------------
Original Author: Thane Woidan
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

:focus {
    outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-size: 18px;
    color: #ffffff;
}

/* Basic font family */
html, input, textarea, select, button {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

body {
    background: none transparent;
    line-height: 1.4;
}

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Containers
------------------------------------------------------------------------ */
.wrap {
    position: relative;
    width: 300px;
    height: 150px;
    padding: 3px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    /*background: #e6e6e6;*/
    background: #333333;
    overflow: hidden;
}

.wrap-inner {
    display: table;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: none rgba(255, 255, 255, .1);
    box-shadow: 0 6px 12px rgba(255, 255, 255, .5) inset,
                0 2px 3px rgba(255, 255, 255, .5) inset,
                0 -2px 3px rgba(0, 0, 0, .25) inset;
}

/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */
.hdg {
    line-height: 1;
}

.hdg_h1 { font-size: 32px; }
.hdg_h2 { font-size: 24px; }
.hdg_h3 { font-size: 18px; }

.mix-hdg_center { text-align: center; }

/* ---------------------------------------------------------------------
 Boxes
------------------------------------------------------------------------ */
.box {

}

.box-vcenter {
    display: table-cell;
    vertical-align: middle;
}

/***** Box headers *****/
.box-hd {
    padding: 3px;
}

/***** Box body *****/
.box-bd {
    padding: 3px;
}

.mix-box-bd_center { text-align: center; }

/* ---------------------------------------------------------------------
 Content Stuff
------------------------------------------------------------------------ */
.mix-text_muted {
    color: #999999;
}

/* ---------------------------------------------------------------------
 Second-interval pulsator
------------------------------------------------------------------------ */
.pulse {
    position: absolute;
    top: 30%;
    left: 40%;
    height: 50px;
    width: 50px;
    border: 5px solid rgba(200, 255, 255, .05);
    border-radius: 50%;
    opacity: 0.0;

    -webkit-animation-name: 'pulsate';
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;

    animation-name: 'pulsate';
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
}

@-webkit-keyframes pulsate {
    0%   { -webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50%  { opacity: 1.0; }
    75%  { opacity: 0.75; }
    100% { -webkit-transform: scale(4, 4); opacity: 0.0; }
}

@keyframes pulsate {
    0%   { transform: scale(0.1, 0.1); opacity: 0.0;}
    50%  { opacity: 1.0; }
    75%  { opacity: 0.75; }
    100% { transform: scale(4, 4); opacity: 0.0; }
}
